<?xml version="0.0" ?>
<robot name="dinigTable">
  <link name="diningTableLink">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="2 1 0"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="DiningTable/DiningTable.obj" scale="1.5 1.5 1.5"/> 
      </geometry>
       <material name="brown">
        <color rgba="0.5 0.3 0.1 1"/>
      </material>
    </visual>
     <collision>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="3 3.15 3"/>
      </geometry>
    </collision>
  </link>
</robot>
<!-- box size = x z y -->
