<?xml version="0.0" ?>
<robot name="table">
  <link name="tableLink">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="2 1 0"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="Table/Table_1_obj.obj" scale="2.7 2.7 2.7"/> 
      </geometry>
       <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
     <collision>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <box size="3.24 3 1.08"/> -->
        <mesh filename="Table/Table_1_obj.obj" scale="2.7 2.7 2.7"/> 
      </geometry>
    </collision>
  </link>
  </robot>

<!-- dimension x: 1.2 y: 0.1 z:0.4 
avec la scale : x:3.24 y:0.27 z: 1.08
-->